body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightseagreen;
}

.h1{
    text-align: center;
}

.pizza {
    /* box-model */
    border: 5px solid;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;

    display: flex;
    flex-direction: column
   
}

.small-pizza{
    background-color: palevioletred;
    flex: 1;
    text-align: left;
}

.medium-pizza{
    background-color: orange;
    flex: 1;
    text-align: left;
}

.large-pizza{
    background-color: orangered;
    flex: 1;
    text-align: left;
}

/*  large devices 1200px
    laptops 992px
    tablets 768px
    phones (potrait) 576px*/
@media (min-width: 960px) {
    .pizzas{
        display: flex;
    }     

    .box {
        display: inline-block;
        width: 100%;
        height: 100px;  
    }

    /* .box:first-child {
        background-color: blue;
    } */
        
    .box:last-child {
        /* background-color: red; */
        text-align: right;
    }
}

@media (min-width: 768px) {
    .pizzas{
        display: flex;
    } 

    .box {
        display: inline-block;
        width: 100%;
        height: 100px;  
    }

    /* .box:first-child {
        background-color: blue;
    } */
        
    .box:last-child {
        /* background-color: red; */
        text-align: right;
    }
}

@media (min-width: 576px) {
    .pizzas{
        display: flex;
    } 

    .box {
        display: inline-block;
        width: 100%;
        height: 100px;  
    }

    /* .box:first-child {
        background-color: blue;
    } */

    .box:last-child {
        /* background-color: red; */
        text-align: center;
    }
}

.contact-details{
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.shopping-cart{
    background-color: yellow;
    text-align: center;
}

.display {
    display: inline-block;
}

.button-size{
    font-size: 20px;
    padding: 10px 40px;
}

.checkout-container {
    display: flex;
    justify-content: center;
}

.checkout-btn, .pay-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

  /* Responsive styles for smaller screens */
    @media (max-width: 768px) {
    .checkout-btn, .pay-btn {
        font-size: 14px;
    }
}

.cart{
    background-color: #f1c40f;
    text-align: center;
}

#menu-container{
    width: 900px;
    margin: 0 auto;
    align-items: center;
}
.menu1, .menu2, .menu3{
    width: 280px;
    float: left;
    margin: 10px;
}

.menu1{
    background-color: #d35400;
}

.menu2{
    background-color:#f39c12 ;
}

.menu3{
    background-color:#e84393 ;
}

footer {
    padding: 20px;
    margin-top: auto; /* Pushes the footer to the bottom */
}